<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5" defaultLanguage="c#" />
    <httpRuntime targetFramework="4.5" />

<customErrors redirectMode="ResponseRedirect" defaultRedirect="Error.aspx" mode="on">
      <error statusCode="404" redirect="default.aspx?page=notfound" />
    </customErrors>
  </system.web>
 
  <system.net>
    <mailSettings>
      <smtp from="registration@barknfly.ca">
        <network host="relay-hosting.secureserver.net" port="25" userName="registration@barknfly.ca" password="cowabunga!1242" enableSsl="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" path="/default.aspx?page=notfound" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>