

html {
    font-family: 'Ubuntu', sans-serif;
        color:#333333;
}
body {
    background-color:#F2F2F2;

}
.clearfix {
    clear:both;
}
p {
    font-size:15px;
    line-height:25px;
}

/*row*/
.row {
    width:960px;
    margin-left:auto;
    margin-right:auto;
}
.rowMargin {
    margin:10px 0 30px 30px;
}

.newRow {
    width:100%;
    background-color:white;
    border-top:2px dotted #EAEAEA;
    margin:0 0 0 0;
}
    .newRow a {
        font-size:17px;
        text-decoration:none;
        font-weight:bold;
    }
.newRowColour {
    background-color:#F7F7F7;
}
.fiftyFifty {
    float:left;
    width:460px;
}
    .fiftyFifty p {
        width:70%;
        margin:25px auto 0 auto;
    }
    .fiftyFifty h4 {
        font-size:30px;
        margin:30px 0 0 50px;
    }
.r {
    float:right;
}
.l {
    float:left;
}
    .fiftyFifty img {
        width:100%;
        float:right;
    }

/*header row*/
.headerRow {
    background-color:white;
    border:1px solid #E5E5E5;
}
.subRow {
    background-color:white;
    margin:0 0 30px 0;
}
.hero {
    background-color:white;
    background-image:url("../../images/BarkNFly_Logo_v2.jpg");
    background-repeat:no-repeat;
    background-position:right;
    margin-right:50px;
    padding:25px 25px 0 25px;
    height:400px;
}
.headerRow h1 {
    color:black;
    font-size:30px;
    margin:0 0 30px 0px;
    line-height:35px;
}
.headerRow h2 {
    color:black;
    font-size:20px;
    margin:0 0 30px 0;
    width:400px;
    font-weight:normal;
    line-height:30px;
}
.headerRow h3 {
    color:black;
    font-size:15px;
    width:300px;
    margin:0 0 30px 0;
}
.content {
    margin:50px 0 50px 50px;
}
    .content h1 {
        font-size:30px;
    }
    .content h2 {
        width:90%;
        border-top:3px solid silver;


    }
.wrapH2 {
    background-color:silver;
    color:white;
    padding:4px 20px 3px 20px;
}
    .content p {
        margin:0 0 20px 0;
        width:80%;
        font-size:15px;
        line-height:25px;
    }
    .content li {
        line-height:25px;
    }
    .content ul {
        margin:0 0 50px 0;
    }

.olFinePrint {
    width:700px;
    font-size:12px;
    background-color:#F2F2F2;
    border:1px solid silver;
    padding:30px;
    margin:0 0 25px 0;
 
}
    .olFinePrint li {
       margin:0 0 0 10px;
       list-style-type:decimal;
    }
/*main menu*/
#mainMenu {
    width: 100%;
    height:50px;
    /*background-color:#DD4814;*/
    background-color:#ACBE5A;
    color:white;
}
.logo {
   width:200px;
   float:left;
   line-height:50px;
   font-size:30px;
}
    .logo a {
        color:white;
        text-decoration:none;
    }
.menu {
    float:right;    
    font-weight:bold;
}
    .menu a {
        color:white;
        text-decoration:none;
    }
        .menu a:hover {
            color:gray;
        }
   .menu li {
        display:inline;
        list-style-type:none;
        padding:0 0 0 20px;
        line-height:50px;
        border-left:1px solid #ACBE5A;
    }
    .menu img {
        vertical-align:middle;
    }
/*body*/
#mainBody {
    margin:20px 0 0 0;
}
/*buttons*/
.bigButton {
    line-height:50px;
    height:50px;
    background-color:#4B8EFA;
    border:1px solid #4B8EFA;
    color:white;
    text-decoration:none;
    display:inline-block;
    padding:0 20px;
    margin:0 10px 0 0;
}
    .bigButton:hover {
        border:1px solid blue;
    }

/*three columns*/
.threeCol {
    width:33.3333%;
    float:left;
   
}

/*small content*/
.smallContent {
    border:1px solid silver;
    width:90%;
    margin:25px auto;
    height:270px;
    background-color:#EBEBEB;
    font-size:18px;
    position:relative;
}
    .smallContent h1 {
        font-size:20px;
        font-weight:normal;
        margin:10px 0 10px 10px;
    }
    .smallContent ul {
        list-style-type:none;
        margin:10px;
    }
    .smallContent li {
        padding:0 0 10px 10px;
    }
    .smallContent a {
        text-decoration:none;
        vertical-align:bottom;
        position:absolute;
        bottom:10px;
        
    }

 /*INput table*/
.txtInput {
    
    font-size:20px;
    padding:5px;
    width:400px;
    margin:0 0 0 20px;
}
.phoneInput {
    width:150px;
}
.postalCodeInput {
    width:150px;
    text-transform:uppercase;
}
.tblInput {
    font-size:20px;
    margin:0 0 30px 0;
}
.tblInput td {
    width:300px;
    padding:0 0 10px 10px;
    vertical-align:top;
}
.datePicker {
    width:120px;
}
.num {
    width:50px;
}
/*footer*/
#footer {
    background-color:#F7F7F7;
    height:25px;
    border-top:2px solid #DEDEDE;
    color:#DCDAD7;
    text-align:center;
    padding:20px 0 0 0;
    margin:50px 0 0 0;
}
    #footer a {
        text-decoration:none;
        color:#DCDAD7;
    }

.priceList {
    font-size:20px;
    margin:0 0 30px 0;
}
    .priceList td {
        padding:10px;
        border-bottom:1px solid silver;
        
    }
    .priceList th {
        padding:0 0 10px 30px;
        border-bottom:3px solid silver;
        text-align:right;
    }
.number {
    text-align:right;}

.ulChecklist {
    margin:0 0 30px 0;
    padding:0 0 0 30px;
    width:80%;
}
.ulChecklist li{
    list-style-type:square
}
/*Error*/
.errorMsg {
    font-size:40px;
    color:red;
    margin:0 0 0 20px;
    line-height:25px;
    vertical-align:bottom;
}

/*Reviews*/
.reviewPanel {
    margin:0 0 50px 0;
    clear:both;
    overflow:hidden;
}
.reviewPic {
    float:left;
    border:1px solid silver;
    height:95px;
    width:95px;
    background-repeat:no-repeat;
    border:3px solid silver;
}
.reviewText {
    float:left;
    padding:5px 0 0 20px;
    width:500px;
}
    .reviewText h1 {
        font-size:20px;
        padding:0;
        margin:0;
    }
        .reviewText h1 small {
            font-size:15px;
            margin:0 0 0 20px;
        }
    .reviewText p {
        font-size:15px;
        width:90%;
        margin:0 0 0 20px;
        text-align:justify;
    }
/*End reviews*/

/*2 x 2 grid*/
.grid {
    width:300px;
    margin:auto auto auto auto;
    overflow:hidden;
}
.gridRow {
    width:100%;
    overflow:hidden;
}
.gridRowCell {
    width:40%;
    float:left;
    overflow:hidden;
}
    .gridRowCell img {
        width:100%;
        margin:10px;
    }

/*contact info*/
.contactInfo ul {
    margin:0 0 20px 0;
}

/*thumbnail grid*/
.thumbnailGrid img {
    margin:10px;
    width:125px;
    padding:5px;
    border:1px solid silver;
}
/*page not found*/
.pageNotFound {
    background-color:black;
    color:white;
    text-align:center;
    width:100%;
    border-bottom:3px solid silver;
    font-size:50px;
    padding:10px;
}
    .pageNotFound small {
        font-size:20px;
    }

    /*proud*/
.proud {
    background-color:#ACBE5A;
    color:white;
    padding:20px 0 20px 50px;
    font-size:25px;
}
.proud a{
    font-size:13px;
    margin:0 0 0 50px;
    text-decoration:none;
    color:white;
}
/*virtual tour*/
.imgVT {
   float:left;
    background-color:silver;
    color:white;
    width:425px;
    margin:0 10px 0 0px;
    padding:0 0 10px 0;
    text-align:center;
    font-size:12px;
}
    .imgVT img {
        padding:0 0 10px 0;
    }